.top-header
  %p.top-header__alert
    ログインしました
.contents
  .left-contents
    .left-header
      %p.left-header--user-name
        iwana
      %ul.left-header--user-menu
        %li.side-header--user-edit
          %a{:href => "/groups/new"}
            %i.fa.fa-edit
        %li.left-header--new-group
          %a{:href => "/users/393/edit"}
            %i.fa.fa-cog

    .left-main
      %p.left-main--group-name
        Sample
      %p.left-main--new-word
        Good by world!
  .main-contents
    .header
      .header--block
        %p.header--group-name
          Sample
        %ul.header--member
          Member:
          %li.header--member-name
            iwana
      %a
        .header--edit-group
          Edit
    .main
      .main-block
        %ul.main--user-name
          iwana
          %li.main--time
            2016/09/21 06:16:55
        .main--comments
          Hello world!

      .main--block
        %ul.main--user-name
          neko
          %li.main--time
            2016/09/22 06:16:55
        .main--comments
          Good by world!

      .main--block
        %ul.main--user-name
          neko
          %li.main--time
            2016/09/22 06:16:55
        .main--comments
          Good by world!
      .main--block
        %ul.main--user-name
          neko
          %li.main--time
            2016/09/22 06:16:55
        .main--comments
          Good by world!
      .main--block
        %ul.main--user-name
          neko
          %li.main--time
            2016/09/22 06:16:55
        .main--comments
          Good by world!
      .main--block
        %ul.main--user-name
          neko
          %li.main--time
            2016/09/22 06:16:55
        .main--comments
          Good by world!
      .main--block
        %ul.main--user-name
          neko
          %li.main--time
            2016/09/22 06:16:55
        .main--comments
          Good by world!
      .main--block
        %ul.main--user-name
          neko
          %li.main--time
            2016/09/22 06:16:55
        .main--comments
          Good by world!
      .main--block
        %ul.main--user-name
          neko
          %li.main--time
            2016/09/22 06:16:55
        .main--comments
          Good by world!
      .main--block
        %ul.main--user-name
          neko
          %li.main--time
            2016/09/22 06:16:55
        .main--comments
          Good by world!
      .main--block
        %ul.main--user-name
          neko
          %li.main--time
            2016/09/22 06:16:55
        .main--comments
          Good by world!
      .main--block
        %ul.main--user-name
          neko
          %li.main--time
            2016/09/22 06:16:55
        .main--comments
          Good by world!
      .main--block
        %ul.main--user-name
          neko
          %li.main--time
            2016/09/22 06:16:55
        .main--comments
          Good by world!
      .main--block
        %ul.main--user-name
          neko
          %li.main--time
            2016/09/22 06:16:55
        .main--comments
          Good by world!
      .main--block
        %ul.main--user-name
          neko
          %li.main--time
            2016/09/22 06:16:55
        .main--comments
          Good by world!
      .main--block
        %ul.main--user-name
          neko
          %li.main--time
            2016/09/22 06:16:55
        .main--comments
          Good by world!
    .footer
    %form.footer--framwork
      .footer--input-box
        %input.footer--form-message{:type => "text"}
        %label.fa.fa-image
          %input#message_image.image-label__input{:type => "file"}
      %input.footer--form-submit{type: 'submit', value: 'Send'}




/ %label.image-label
/   %i.fa.fa-image
/   %input#message_image.image-label__input{:type => "file"}
