.top-header
  %p.top-header__alert
    ログインしました
.contents
  .left-contents
    .left-header
      %p.left-header__user-name
        iwana
      %ul.left-header__user-menu
        %li.side-header__user-edit
          = link_to "", root_path
          %i.fa.fa-edit
        %li.left-header__new-group
          = link_to "", root_path
          %i.fa.fa-cog

    .left-main
      %p.left-main__group-name
        Sample
      %p.left-main__new-word
        Good by world!
  .main-contents
    .header
      .header__block
        %p.header__group-name
          Sample
        %ul.header__member
          Member:
          %li.header__member-name
            iwana
      %a
        .header__edit-group
          Edit
    .main
      .main-block
        %ul.main__user-name
          iwana
          %li.main__time
            2016/09/21 06:16:55
        .main__comments
          Hello world!

      .main__block
        %ul.main__user-name
          neko
          %li.main__time
            2016/09/22 06:16:55
        .main__comments
          Good by world!


    .footer
    %form.footer__framwork
      .footer__input-box
        %input.footer__form-message{type: "text"}
        %label.fa.fa-image
          %input#message_image.image-label__input{type: "file"}
      %input.footer__form-submit{type: "submit",value: "Send"}




/ %label.image-label
/   %i.fa.fa-image
/   %input#message_image.image-label__input{:type => "file"}
