.main-contents {
  width: calc(100vw - 300px);
  margin-left: 300px;
  float: left;
  &__header {
    height: 102px;
    width: calc(100vw - 300px);
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    background-color: rgba(255,255,255,1);
    position: fixed;
    &__block {
      margin-top: 35px;
      &__group-name {
        font-size: 20px;
      }
      &__member {
        margin-top: 15px;
        font-size: 12px;
        display: flex;
        color: #333;
        &-name {
          display: flex;
          font-size: 12px;
          color: #999;
          margin-left: 10px;
          &-user {
            margin-left: 10px;
          }
        }
      }
      &__edit-group {
        border: 1px solid #38AEF0;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        color: #38aef0;
      }
    }
  }
}
